h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    border-radius: 10px;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    height: 392px;
    width: 335px;
}

.header {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: darkcyan;
    width: 309px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #949494;
    border: #535353 solid;
}

.box li {
    list-style: none;
    background-color: #b1b1b1;
    width: 15px;
    height: 15px;
    margin: 1px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .close {
    background-color: #d8d8d8;
}

.box .bombExploded {
    background-color: #a53939;
}

.box .loseBomb {
    background-color: #818181;
}

.box li img {
    width: 23px;
}

.endGame {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 1;
    left: 1;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 310px;
    min-width: 225px;
    height: 150px;
    background-color: #818181;
    border-radius: 5px;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    flex-wrap: wrap;
}

.modal-container h4 {
    font-size: 20px;
}

.modal-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-container div button:first-child {
    margin-right: 15px;
    background-color: darkcyan;
    font-weight: bold;
}